<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.X.X/dist/protobuf.min.js"></script>
<script>

    function httpGet(theUrl) {
        console.time("httpGetTotal")
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, true); // false for synchronous request
        // xmlHttp.responseType = "arraybuffer";

        // via Cache-Control header:
        xmlHttp.setRequestHeader("Cache-Control", "no-cache, no-store, max-age=0");
        // fallbacks for IE and older browsers:
        xmlHttp.setRequestHeader("Expires", "Tue, 01 Jan 1980 1:00:00 GMT");
        xmlHttp.setRequestHeader("Pragma", "no-cache"); //Edit: I noticed this is required for Chrome some time ago... forgot to mention here

        xmlHttp.responseType = "arraybuffer";

        xmlHttp.onload = (event) => {
            console.timeEnd("httpGetLoadResponse")
            console.time("httpGetParseOverhead")
            const arrayBuffer = xmlHttp.response; // Note: not req.responseText
            if (arrayBuffer) {
                console.time("httpGetCastUint8Array")
                const byteArray = new Uint8Array(arrayBuffer);
                console.timeEnd("httpGetCastUint8Array")

                console.time("httpGetDecodeProto")
                protobuf.load("/statesProto.proto", function(err, root) {

                    // Retrieve the type of message I want to decode from the .proto file
                    var MyMessage = root.lookupType("States");

                    // Finally I can decode my message
                    var message = MyMessage.decode(byteArray);

                });
                console.timeEnd("httpGetDecodeProto")
            }

            console.timeEnd("httpGetParseOverhead")
            console.timeEnd("httpGetTotal")
        };

        console.time("httpGetLoadResponse")
        xmlHttp.send(null);
    }

    httpGet("/states-proto");

</script>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>
</body>
</html>